@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <li class="nav-item" role="tab" id="heading-page-layouts">

        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-page-layouts" href="#" aria-expanded="false" aria-controls="collapse-page-layouts">

            <i class="icon s-4 icon-view-quilt"></i>

            <span>Page Layouts</span>
        </a>
        <ul id="collapse-page-layouts" class='collapse ' role="tabpanel" aria-labelledby="heading-page-layouts" data-children=".nav-item">

            <li class="nav-item" role="tab" id="heading-carded">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-carded" href="#" aria-expanded="false" aria-controls="collapse-carded">

                    <span>Carded</span>
                </a>
                <ul id="collapse-carded" class='collapse ' role="tabpanel" aria-labelledby="heading-carded" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-full-width.html" data-url="index.html">

                            <span>Full Width</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-full-width-2.html" data-url="index.html">

                            <span>Full Width 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-left-sidebar.html" data-url="index.html">

                            <span>Left Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-left-sidebar-2.html" data-url="index.html">

                            <span>Left Sidebar 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-right-sidebar.html" data-url="index.html">

                            <span>Right Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-right-sidebar-2.html" data-url="index.html">

                            <span>Right Sidebar 2</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-simple">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-simple" href="#" aria-expanded="false" aria-controls="collapse-simple">

                    <span>Simple</span>
                </a>
                <ul id="collapse-simple" class='collapse ' role="tabpanel" aria-labelledby="heading-simple" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-full-width.html" data-url="index.html">

                            <span>Full Width</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar.html" data-url="index.html">

                            <span>Left Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar-2.html" data-url="index.html">

                            <span>Left Sidebar 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar-inner.html" data-url="index.html">

                            <span>Left Sidebar Inner</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar-floating.html" data-url="index.html">

                            <span>Left Sidebar Floating</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar.html" data-url="index.html">

                            <span>Right Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar-2.html" data-url="index.html">

                            <span>Right Sidebar 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar-inner.html" data-url="index.html">

                            <span>Right Sidebar Inner</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar-floating.html" data-url="index.html">

                            <span>Right Sidebar Floating</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-tabbed.html" data-url="index.html">

                            <span>Tabbed</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>

        </ul>
        <ul id="collapse-page-layouts" class='collapse ' role="tabpanel" aria-labelledby="heading-page-layouts" data-children=".nav-item">

            <li class="nav-item" role="tab" id="heading-carded">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-carded" href="#" aria-expanded="false" aria-controls="collapse-carded">

                    <span>Carded</span>
                </a>
                <ul id="collapse-carded" class='collapse ' role="tabpanel" aria-labelledby="heading-carded" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-full-width.html" data-url="index.html">

                            <span>Full Width</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-full-width-2.html" data-url="index.html">

                            <span>Full Width 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-left-sidebar.html" data-url="index.html">

                            <span>Left Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-left-sidebar-2.html" data-url="index.html">

                            <span>Left Sidebar 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-right-sidebar.html" data-url="index.html">

                            <span>Right Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-carded-right-sidebar-2.html" data-url="index.html">

                            <span>Right Sidebar 2</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item" role="tab" id="heading-simple">

                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-simple" href="#" aria-expanded="false" aria-controls="collapse-simple">

                    <span>Simple</span>
                </a>
                <ul id="collapse-simple" class='collapse ' role="tabpanel" aria-labelledby="heading-simple" data-children=".nav-item">

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-full-width.html" data-url="index.html">

                            <span>Full Width</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar.html" data-url="index.html">

                            <span>Left Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar-2.html" data-url="index.html">

                            <span>Left Sidebar 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar-inner.html" data-url="index.html">

                            <span>Left Sidebar Inner</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-left-sidebar-floating.html" data-url="index.html">

                            <span>Left Sidebar Floating</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar.html" data-url="index.html">

                            <span>Right Sidebar</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar-2.html" data-url="index.html">

                            <span>Right Sidebar 2</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar-inner.html" data-url="index.html">

                            <span>Right Sidebar Inner</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-right-sidebar-floating.html" data-url="index.html">

                            <span>Right Sidebar Floating</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link ripple " href="user-interface-page-layouts-simple-tabbed.html" data-url="index.html">

                            <span>Tabbed</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="user-interface-page-layouts-blank.html" data-url="index.html">

                    <span>Blank</span>
                </a>
            </li>

        </ul>
    </li>

</div>
